trash/
.vscode/
*.user
*.sln
.idea/
.vs/


*.pri
*.pro

*~
*.autosave

__pycache__/
uetools.egg-info/

.coverage*
coverage.xml

_build/
build/


.tox/
build/
dist/
out.txt


tests/fake
projects/


*.hjson


.benchmarks/
.pytest_cache/
.ruff_cache/
venv
