---
repos:
  - repo: https://github.com/python/black
    rev: 22.8.0
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args: 
          - -L
          - ue,UE
          - -S
          - extracted/commandlet.txt

  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        args:
          - --ignore=E203,E402,E712,E722,E731,E741,F401,F403,F405,F524,F841,W503,E302,E704,E221,E501
          - --max-complexity=30
          - --max-line-length=456
          - --show-source
          - --statistics

  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.34.0
    hooks:
      - id: pyupgrade
        args: ["--py37-plus"]

  - repo: https://github.com/PyCQA/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        args: ["--in-place", "--expand-star-imports", "--remove-all-unused-imports", "--ignore-init-module-imports"]

  - repo: https://github.com/PyCQA/doc8
    rev: 0.8.1
    hooks:
      - id: doc8
        args: ["--max-line-length=100", "--file-encoding=utf-8"]
