global-exclude *.pyc
global-exclude __pycache__

recursive-include uetools/* *.yaml
recursive-include uetools *.Target
recursive-include uetools *.ini
recursive-include uetools *.py

graft uetools/templates
graft uetools/commands/plugin/templates
graft uetools/commands/project/templates
graft uetools/commands/editor/templates
graft uetools/commands/editor/templates
graft uetools/plugins/gamekit/resources

recursive-include uetools *.pkl

exclude tox.ini
exclude Makefile
exclude .pylintrc
exclude .readthedocs.yaml
exclude .pre-commit-config.yaml
exclude ruff.toml
exclude .gitmodules

prune docs
prune tests
prune extracted
prune examples
prune uetools/plugins

