Binaries/
Intermediate/
Saved/
DerivedDataCache/
Build/
trash/
.vscode/
*.user
*.sln
.idea/
.vs/
Content/KiteDemo/
Content/Assets/
Plugins/Gamekit/Docs/html/
Plugins/Gamekit/Docs/_build/
Plugins/Gamekit/Docs/Doxyfile
*.pri
*.pro
Content/Levels/FlatLandscape_BuiltData.uasset

*~
*.autosave

Plugins/Gamekit/Content/Textures/IconsSkills

MOBA_GamekitUnits.json
MOBA_GamekitAbilies.json
enc_temp_folder/

Docs/Doxyfile
Docs/_build/
Docs/Developer/api/
Docs/generated_api/
__pycache__/
gamekit.egg-info/
Python/dump/
Experimental/
out.txt
